.thumbnail {
  object-fit: cover;
}

.blog-date {
  text-align: right;
}

.blog-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding-left: 40px; /* 左側の余白 */
  line-height: 1.6; /* 行間の設定 */
  height: 100%;
}

.thumbnail-box {
  flex-shrink: 0; /* この要素が縮小しないように設定 */
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.string-w {
  flex-grow: 1; /* 余剰スペースを埋めるように設定 */
  box-sizing: border-box;
  &:hover {
    color: orange;
    background-color: #82beee;
  }
}

@media screen and (min-width: 701px) {
  .card {
    height: 150px;
  }
  .thumbnail-box {
    width: 200px;
    height: 150px;
  }
  .blog-title {
    font-size: 20px;
  }
  .blog-date {
    font-size: 14px;
  }
  .string-w {
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    height: 120px;
  }
  .thumbnail-box {
    width: 120px;
    height: 120px;
  }
  .blog-title {
    font-size: 12px;
    padding-left: 20px; /* 小さい画面用の左側の余白 */
  }
  .blog-date {
    font-size: 10px;
  }
  .string-w {
    margin-right: 5px;
  }
}
