h1{
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
}

h2{
  font-size: 20px;
  font-weight: bold;
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
}

.thumbnail{
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit:cover;
}

.blog-title{
  text-align: left;
}

.blog-text {
  font-size: 14px;
  text-align: left;
}

@media screen and (min-width: 700px){
  .thumbnail {
    width: 40%;
  }
}

.thumbnail-date{
  font-size: 0.5rem;
}

.youtube {
  position: relative;
  height: 0;
  padding: 0 0 56.25%;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

ol {
  padding: 0.5em 3em;
  margin: 1em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #f0f8ff;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;
  li {
    padding: 0.5rem
  }
}

/* マウスオーバーで詳細への誘導を表示 */
.post-latest-row:hover {
  color: orange;
  background-color: #82beee;
}

.description {
  padding: 0.5em 3em;
  margin: 1em 0;
  color: black;/*文字色*/
  background: #E6E6E6;
  border: solid 1px #000000;/*線*/
}

.effect {
  color: #000000;
  background: #dcdcdc;
  border: solid 2px #000000;
  padding: 5px;
}

.card {
  border: none;
  margin: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* カードの幅 */
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  .card-image {
    margin: 10px;
    width: 100%;
    height: auto;
    @media screen and (max-width: 700px) {
      max-width: 300px;
    }
  }
}

/* サムネイルとタイトルを含むコンテナ */
.thumbnail-container {
  position: relative; /* 相対位置 */
  width: 100%;
  display: flex; /* Flex コンテナにする */
  align-items: center; /* 垂直方向の中央に配置 */
  justify-content: center; /* 水平方向の中央に配置 */
}

.thumbnail {
  width: 100%;
  max-height: 300px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-bottom: 20px;
}

/* サムネイル上のタイトル */
.thumbnail-title {
  position: absolute; /* 絶対位置 */
  width: 100%; /* コンテナの幅に合わせる */
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
  color: white; /* 白色のテキスト */
  padding: 20px; /* パディング */
  box-sizing: border-box; /* ボックスサイズ調整 */
  text-align: center; /* テキストを中央揃え */
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%; /* スマートフォン用の幅調整 */
  }
}

/* ランクグループのスタイリング */
.rank-group {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid #dcdcdc;
  .rank-number {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: 10px;
  }
  .rank-price {
    font-size: 20px;
  }
}

/* ランクと価格の共通表示 */
.rank-group-info {
  flex-basis: 100%; /* 全幅を取る */
  text-align: center;
  margin-bottom: 10px;
}
