.result-button{
    font-weight: bold;
    color: 	#FFFFFF;
    width: 150px;
    height: 50px;
}

.finish-button{
  font-weight: bold;
  color: 	#FFFFFF;
  width: 270px;
  height: 50px;
}

.box {
  position: relative;                  /* 指定した分だけ相対的に移動 */
}