.result-button{
    font-weight: bold;
    color: 	#FFFFFF;
    width: 150px;
    height: 50px;
}

.finish-button{
  font-weight: bold;
  color: 	#FFFFFF;
  width: 270px;
  height: 50px;
}

.box {
  position: relative;                  /* 指定した分だけ相対的に移動 */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}