.page-title {
  font-weight: bold;
  border-bottom: 1px solid #000;
  display: inline-block;
}

.deck-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  line-height: 1.6; /* 行間の設定 */
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.deck-date {
  margin-top: 10px;
  text-align: center;
}

.deck-organizer {
  margin-top: 10px;
  text-align: center;
}

.deck-rank {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.deck-image-box {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center; // 水平方向の中央寄せ
  align-items: center;
}

.deck-code {
  margin: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  text-align: center;
}

.deck-tag-box {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center; // 水平方向の中央寄せ
  align-items: center;
}

.deck-tag {
  margin: 5px;
  display: inline-block; /* インラインブロック要素として表示 */
  justify-content: center; // 水平方向の中央寄せ
  align-items: center;
  text-align: center;
  background-color: #f0f0f0; /* 背景色 */
  color: #333; /* テキスト色 */
  padding: 5px 10px; /* 内側の余白 */
  margin: 5px; /* 外側の余白 */
  border-radius: 15px; /* 角の丸み */
  border: 1px solid #ddd; /* 境界線 */
  font-size: 0.9em; /* フォントサイズ */
  text-decoration: none; /* テキストの装飾を無効化 */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* 影の追加 */
  &:hover {
    background-color: #e9e9e9; /* ホバー時の背景色変更 */
    border-color: #ccc; /* ホバー時の境界線の色 */
  }
}

@media screen and (min-width: 701px) {
  .card {
    height: 530px;
    margin-bottom: 30px;
  }
  .deck-image {
    width: 500px;
  }
  .deck-title {
    font-size: 24px;
    height: 30px;
  }
  .deck-date {
    font-size: 16px;
  }
  .deck-code {
    font-size: 15px;
    height: 30px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    height: 400px;
    margin-bottom: 20px;
  }
  .deck-image {
    width: 100%;
    max-width: 330px;
  }
  .deck-title {
    font-size: 14px;
  }
  .deck-date {
    font-size: 14px;
  }
  .deck-organizer {
    font-size: 10px;
  }
  .deck-rank {
    font-size: 14px;
  }
}
