@import "cart";

@font-face {
  font-family: 'HuiFont';
  src: url("../../../public/fonts/HuiFontP29.ttf");
}

.box{
  padding: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);

  position: relative;/*相対配置*/
  object-fit: cover;
  .sold-out{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 10;
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: HuiFont;
  }

  .name{
    height: 50px;
    @media screen and (max-width: 540px){
      height: 75px;
    }
    .text{
      font-weight: 600;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 540px){
    .cart_btn{
      font-size: 12px;
    }
  }
}

