.post-user{
    font-weight: bold;
    color: 	#008000;
}

/* マウスオーバーで詳細への誘導を表示 */
.card:hover {
  color: orange;
  background-color: #82beee;
}

h2{
  color: #007bff;
  font-size: 24px;
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 0;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
  background: #17a2b8;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
