.post-user{
    font-weight: bold;
    color: 	#008000;
}

/* マウスオーバーで詳細への誘導を表示 */
.card:hover {
  color: orange;
  background-color: #82beee;
}

h2{
  color: #007bff;
  font-size: 24px;
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
}

