h1{
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 800px){
    font-size: 16px;
  }
}

.post-user{
  font-size: 12px;
  font-weight: bold;
  color: 	#008000;
}

.post-text{
    font-size: 14px;
}

.small-profile {
  width: 40px;
  height: 40px;
}
.post-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.sub-title{
  font-weight: bold;
  color: grey;
}