h1 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 16px;
  }
}

.post-user {
  font-weight: bold;
  color: #008000;
}

.post-text {
  font-size: 16px;
}


