.image{
  width: 20%;
}
.string{
  width: 80%;
}

@media (min-width:800px){
  .block{
    display: inline-block;
  }
  .string{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nameCol{
    font-weight: 600;
    width: 50%;
  }
  .priceCol{
    width: 10%;
  }
  .quantityCol{
    width: 10%;
  }
  .subtotalCol{
    width: 10%;
  }
  .deleteCol{
    width: 15%;
  }
}

@media (max-width:789px){
  .image{
    width: 50%;
  }
  .string{
    width: 50%;
  }
}
