h2{
  background-color: black;
  color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.thumbnail{
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit:cover;
}

.thumbnail-date{
  font-size: 0.5rem;
}

.youtube {
  position: relative;
  height: 0;
  padding: 0 0 56.25%;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.blog-body img {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .blog-body img {
    width: 100%;
    height: 100%;
  }
}
