.box {
  padding-top: 0;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 0;
}

.thumbnail{
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit:cover;
}

.blog-date{
  text-align: right;
}

@media screen and (min-width: 701px){
  .thumbnail-w{
    width: 20%;
  }
  .blog-title {
    font-size: 20px;
  }
  .blog-date{
    font-size: 14px;
  }
  .string-w{
    width: 80%;
  }
}

@media screen and (max-width: 700px){
  .thumbnail-w {
    width: 40%;
  }
  .blog-title {
    font-size: 12px;
  }
  .blog-date{
    font-size: 10px;
  }
  .string-w {
    width: 60%;
  }
}
