@charset "UTF-8";

@font-face {
  font-family: "HuiFont";
  src: url(/fonts/HuiFontP29.ttf?61924a16b4391bf6ac177f4aa2d869bb);
}

@media screen and (max-width: 595px) {
  .container {
    width: 595px;
  }

  .header-color {
    width: 595px;
  }

  .footer {
    width: 595px;
  }
}

.resume {
  width: 595px;
  height: 842px;
  background-image: url(/images/03_pokemon_card.jpg?54d50b25b655eea8419cb1435138979e);
  background-position: center;
  background-size: 100%;
  /*横幅を20%、高さを60%に指定*/
  font-family: HuiFont;
  border: 15px solid #ffd700;
}

.resume .content {
  background-color: rgba(255, 255, 255, 0.562);
  width: 100%;
  height: 100%;
}

.resume .content .header {
  width: 595px;
  height: 70px;
}

.resume .content .header .title {
  margin-left: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #ffd700;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0px 1px 0 #000, -1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
}

.resume .content .title {
  font-size: 30px;
  font-weight: bold;
  color: #ffd700;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0px 1px 0 #000, -1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
}

.resume .content .body {
  background-color: rgba(255, 250, 255, 0.9);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.resume .content .fontGrey {
  color: #adb5bd;
}

.resume .content .profile {
  width: 595px;
  height: 150px;
  margin-bottom: 40px;
}

.resume .content .profile .profileImage {
  margin-top: 10px;
  margin-left: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #2f82c6;
}

.resume .content .name .body {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #2f82c6;
}

.resume .content .rate .body {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid #2f82c6;
  text-align: right;
}

.resume .content .rate .body .number {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 55px;
  color: #FF0000;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0px 1px 0 #000, -1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
}

.resume .content .rate .body .staring {
  margin-right: 10px;
}

.resume .content .gender .body {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #2f82c6;
}

.resume .content .experience {
  margin-left: 10px;
}

.resume .content .experience .body {
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #2f82c6;
}

.resume .content .area .body {
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #2f82c6;
}

.resume .content .pokemon {
  margin-left: 10px;
}

.resume .content .pokemon .body {
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #2f82c6;
}

.resume .content .regulation .body {
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  border: 4px solid #2f82c6;
}

.resume .content .regulation .body .standard {
  margin-left: 20px;
}

.resume .content .regulation .body .legend {
  margin-left: 20px;
}

.resume .content .regulation .body .extra {
  margin-left: 20px;
}

.resume .content .playStyle {
  margin-left: 10px;
}

.resume .content .playStyle .body {
  width: 555px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  border: 4px solid #2f82c6;
}

.resume .content .freeSpace {
  margin-left: 10px;
}

.resume .content .freeSpace .body {
  padding: 5px;
  width: 555px;
  height: 150px;
  font-size: 30px;
  font-weight: bold;
  white-space: pre-line;
  border: 4px solid #2f82c6;
}


