@font-face {
  font-family: 'HuiFont';
  src: url("../../../public/fonts/HuiFontP29.ttf");
}

.landing-bg{
  background-color: black;
  display:inline-block;
  position: relative;/*相対配置*/
  object-fit: cover;
  width: 100%;
  img {
    width: 100%;
    opacity: 0.5;
    display: block;
  }
  .title {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 20%;
    left: 0;
    font-family: HuiFont;

    width: 100%;
    text-align: center;
    font-weight: bold;

    font-size: 30px;
    line-height: 50px;
    @media screen and (min-width:480px) {
      top: 30%;
      font-size: 70px;
      line-height: 120px;
    }

  }
}

.pictureFont{
  font-family: HuiFont;
  font-size: 20px;
  @media screen and (min-width:480px) {
    font-size: 40px;
  }
}

.iphone{
  @media screen and (min-width:720px) {
    width: 500px;
  }
}

.download{
  font-family: HuiFont;
  font-size: 70px;
  @media screen and (max-width:720px) {
    font-size: 30px;
  }
}

//.ps{
//  @media screen and (min-width:480px) {
//    visibility: hidden;
//  }
//}
//.mobile{
//  @media screen and (max-width:480px) {
//    visibility: hidden;
//  }
//}



