@import "parts/accordion.scss";

.site-bg{
  background-color: #F7F7F7;
}

.site-color{
  background-color: #000000;
}

.bg-skyblue{
  background-color: #a0d8ef;
}

.bg-pink{
  background-color: #FFCED7;
}

.bg-twitter{
  background-color: #00acee;
}

.bg-discord{
  background-color: #5865f2;
}

.text-redPurple{
  color:  #DA508F;
}

.page-header {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.box{
  text-align: center;
  background-color: white;
  height: 100%;
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.box-header{
  size: 3rem;
  color: black;
  border-bottom: solid 2px black;
  font-weight: bold;
  margin-bottom: 1rem;
}

.w-10{
  width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-33{
  width: 33%;
}
.w-35{
  width: 35%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-66{
  width: 66%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}

.btn.bg-twitter:hover {
  background-color: #015b7d; /*リンクにマウスが乗ったら背景色を変更する*/
}

/* モバイル時のページネーションサイズの修正 */
@media screen and (max-width:767px) {
  /*　画面サイズが767px以下の場合読み込む　*/
  .pagination .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }

  .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

.vs{
  font-size:6em;
  text-align:center;
  line-height:0.95em;
  font-weight:bold;

  color: transparent;
  background: repeating-linear-gradient(45deg,
    #F5B090 0.1em 0.2em,
    #FCD7A1 0.2em 0.3em,
    #FFF9B1 0.3em 0.4em,
    #A5D4AD 0.4em 0.5em,
    #A3BCE2 0.5em 0.6em,
    #A59ACA 0.7em 0.8em,
    #CFA7CD 0.8em 0.9em
  );
  -webkit-background-clip: text;
}