.container {
  position: relative;
}

#cart {
  background-color: #ffffff;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#cart-image {
  background-image: url(/images/cart.png?fa2c48aa8f7823803237c41ef4dbad48);
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 540px) {
  #cart-image {
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
  }
}

#cart-number {
  font-size: 30px;
  color: white;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: red;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 540px) {
  #cart-number {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}

.item-name {
  font-weight: 600;
  border-radius: 10px;
}

.box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}


