@font-face {
  font-family: "HuiFont";
  src: url(/fonts/HuiFontP29.ttf?61924a16b4391bf6ac177f4aa2d869bb);
}

.box {
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
}

.box .head {
  border-bottom: solid 2px #dcdcdc;
}

.box .content {
  background-color: #ffffff;
}


